body {
  background: #e1e2e1;
}
.shoutbox-header {
  background: #0275d8;
  color: #fff;
}

.shoutbox-title {
  padding: 20px;
  margin: 0;
}

.shoutbox-messages {
  margin-bottom: 70px;
}

.shoutbox-messages .message {
  margin: 10px;
  padding: 10px;
}